*
{
    font-family: 'Tilt Neon', cursive;
}
body
{
    background-color: #223e59;
    margin: 0px;
}

.container
{
    max-width: 1280px;
    margin: auto;
}

@media (max-width:1280px) {
    .container
    {
        max-width: 90%;
    }
}